.c-modal-pickup {
  border: none;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  .content {
    color: $text;
    font-size: 14px;
    width: 100%;
    position: absolute;
    background: $page-bg-light;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    box-sizing: border-box;
    padding: 0px 16px;
    .title {
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      position: relative;
      img {
        position: absolute;
        right: 0px;
        top: 10px;
        width: 20px;
        height: 20px;
      }
    }
    .c-modal-pickup__item {
      height: 80px;
      box-sizing: border-box;
      display: flex;
      border-bottom: 1px solid #979797;
      .address {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .choose {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    .c-modal-pickup__item:last-child {
      border-bottom: none;
    }
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(40, 40, 40, .75);
  }
}
