// 常用颜色
$primary: #0c8;
$success: #9acc62;
$warning: #f2711c;
$danger: #ff7f66;

// 文字颜色
$text: #4a4a4a;
$text-white: white;
$text-dark: #595959;
$text-light: #a6a6a6;
$text-disabled: #bfbfbf;

// 边框颜色
$border: #979797;
$border-dark: #c9c9c9;
$border-light: #aaaaaa;
$border-selected: #ec4b24;
// 其他颜色
$auxiliary: #ff765d;

// 按钮颜色
$btn: #C7AA7B;

// 页面背景颜色
$page-bg-light:#f5f5f5;

// 标题背景颜色
$title-bg-dark: #1c181f;
$title-bg-light: #302b2c;
